body.index {
    background-image: url('https://d1wfiv6sf8d64f.cloudfront.net/static/pc/img/visual_main.jpg');
}

body.register {
    background-image: url('https://gameplay.tips/uploads/posts/2017-04/1491328715_playerunknowns-battlegrounds.jpg');
    background-size: cover;
}

.container {
    margin-top: 100px;
}

.header {
    height: 100%;
    width: 500px;
    margin: 0 auto;
}

.tracker-title {
    height: 90px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.tracker-version {
    text-align: center;
    margin-top: 15px;
    color: white;
}

.tracker-btn {
    background-color: #bb0000;
    font-size: 31px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 35px;
    width: 65px;
    color: #bb0000;
    margin: 0 auto;
    display: block;
    transition-duration: 0.5s;
}

.tracker-btn:hover {
    color: #fff;
    background-color: #c30000;
    width: 238px;
    transition-duration: 0.5s;
}

.stats-btn1 {
    margin-top: 25px;
    margin-left: 60px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    transition-duration: 0.5s;
}
.stats-btn2 {
    margin-top: 25px;
    margin-left: 45px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    transition-duration: 0.5s;
}

.stats-btn1:hover {
    transition-duration: 0.5s;
}

.stats-btn2:hover {
    transition-duration: 0.5s;
}

.body {
    height: 100%;
    width: 300px;
    margin: 0 auto;
}

.form-btn {
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
}

.spinner {
    margin: 0 auto;
}

.features {
    width: 275px;
    margin: 0 auto;
}

.logo {
    height: 100%;
    width: 542px;
    margin: 0 auto;
    margin-top: 30px;
}

.steam-logo {
    width: 200px;
}

.slack-logo {
    width: 154px;
}



/* register.html */

.input {
    padding: 10px;
    border-radius: 6px;
    width: 222px;
    margin: 10px auto;
    display: inherit;
}

.register-form {
    margin-top: 80px;
    position: absolute;
    left: 536px;
}

.register-wrapper {
    width: 350px;
    height: 350px;
    margin: 10px auto;
    background: black;
    opacity: 0.6;
    border-radius: 10px;
    position: absolute;
    left: 472px;
    top: 60px;
}

.register-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 98px;
}

.get-steamId {
    display: inherit;
    text-align: center;
    color: white;
    transition-duration: 0.5s;
    
}

.get-steamId:hover {
    color: rgb(96, 156, 184);
    transition-duration: 0.5s;
    text-decoration: none;
}

.register-title {
    position: absolute;
    top: 111px;
    left: 529px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

/* stats.html */

body.stats {
    background-image: url('https://d1wfiv6sf8d64f.cloudfront.net/static/pc/img/backgroundart.jpg');
    background-size: cover;
}

.stats-wrapper {
    margin-top: 70px;
    margin-left: 22px;
}

.stats-title {
    color: white;
    font-size: 72px;
    margin-bottom: 63px;
}

.stat-body ul {
    color: white;
    list-style: none;
    font-size: 40px;
    margin-left: 28px;
    
}

.stat-body span {
    float: right;
    color: rgb(255, 187, 0);
    transition-duration: 2.5s;
}

.stat-body span:hover {
    float: right;
    color: rgb(126, 255, 223);
    transition-duration: 0.5s;
}

.stat-body li {
    width: 200px;
    width: 443px;
    border-bottom: 1px solid #5d5d5d;
    margin-bottom: 26px;
}

