<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HY_Tracker</title>
</head>
<body>

<h1>HY_Tracker</h1>

<form action="" method="post">
    {% csrf_token %}
    <label for="button1">slack</label>
    <input type="radio" id="button1" name="status" value="1">
    <label for="button2">steam</label>
    <input type="radio" id="button2" name="status" value="2">

    <input type="submit">
</form>


</body>
</html>