<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>강사님 최근 전적</h1>
    <table>
        <tr>
            <th>모드</th>
            <th>랭킹</th>
            <th>레이팅</th>
            <th>킬</th>
            <th>딜량</th>
        </tr>
        <tr>
            <td>{{ mode }}</td>
            <td>{{ rank }}</td>
            <td>{{ rating }}</td>
            <td>{{ kill }}</td>
            <td>{{ damage }}</td>
        </tr>
    </table>
</div>
</body>
</html>